@import url('./variables.css');

html
{
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: auto;
}

body * {
    box-sizing: border-box;
}

.main
{
    position: absolute;
    overflow-y: scroll;
    top: var(--frame_width);
    left: var(--frame_width);
    right: var(--frame_width);
    bottom: var(--frame_width);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #989898;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
::-webkit-scrollbar-thumb:active {
  background: #3c3c3c;
}
::-webkit-scrollbar-track {
  background: #e2e2e2;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background:  #cccccc;
}
::-webkit-scrollbar-track:active {
  background:  #cccccc;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
