@import url('./variables.css');

body {
    margin: 0;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

.main
{
    position: absolute;
    overflow-y: scroll;
    top: var(--frame_width);
    left: var(--frame_width);
    right: var(--frame_width);
    bottom: var(--frame_width);
}
