@import url('../App/variables.css');

:root
{
    --project-cover-height: 25vh;
    --project-cover-margin: calc(100vh - var(--project-cover-height));
    --project-cover-margin-negative: calc(var(--project-cover-margin) * -1);
}

.project--expand
{
    position: fixed;
    top: var(--frame_width);
    left: var(--frame_width);
    right: var(--frame_width);
    bottom: var(--frame_width);
    background: white;
    overflow-y: scroll;
}

.project__cover
{
    width: 100%;
    height: 100%;
    background: grey;
    transform-origin: bottom;
    transition-duration: 0.2s;
    transition-delay: -0.1s;
    transition-property: none;
    animation-timing-function: cubic-bezier(0, 1.1, 0.94, 0.96);
}

.project--expand > .project__cover
{
    transform: translateY(var(--project-cover-margin-negative));
    margin-bottom: calc(var(--project-cover-margin-negative));
    transition-property: transform;
}
