.section
{
    width: 100%;
    height: calc((100vh / 3) - var(--app-main-padding));
    background: grey;
}

@media (max-width: 600px) {
    .section
    {
        height: calc(100vh - (var(--app-main-padding) * 2));
    }
}
