.section
{
    background: grey;
}

.main > section
{
    width: 100%;
    height: calc(100vh / 2);
    background: green;
}

@media (max-width: 600px) {
    .main > section
    {
        height: 100%;
    }
}
