@import url('../App/Theme.css');

.nav_button
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background: white;
}

.nav
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--frame_width);
    background-color: rgba(0,0,0,0.5);
}
